article {
  p:first-of-type {
    font-size: 1.25rem;
  }
  p:first-of-type:first-letter {
      float: left;
      font-size: 3.7rem;
      line-height: 1;
      padding: 0 4px;
      color:       var(--primary-color) !important;
      font-family: var(--font-family-serif);
  }
  h2, h3 { color: var(--primary-color); }
}
