@mixin cat-color($color) {
  a {
    background: $color;
    border: 1px solid darken($color, 20);
    &:hover { background: darken($color, 20); }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  h4 {
    font-weight: normal;
    text-align: center;
    margin: 1em 0 0.5em 0;
    a {
      text-decoration: none;
    }
    @media (prefers-color-scheme: dark) {
      filter: brightness(130%);
    }
  }
  .card {
    border: 1px solid #EEE;
    box-shadow: 0.2em 0.2em 0.2em rgba(#000, 0.1);
    border-radius: 4px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    // @include border-shade();
    .thumbnail img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border: 1px solid;
      // @include border-shade();
    }
    section {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    aside {
      border-top: 2px solid;
      margin: .5rem 0 0;
      min-height: 30px;
      font-size: .8rem;
      padding: 0.5rem 0;
    }
    .category {
      position: absolute;
      top: 110px;
      left: 0;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .75rem;
      text-transform: uppercase;
      a {
        color: $base3;
        text-decoration: none;
        padding: 1em 2em;
        box-shadow: 0.2em 0.2em 1em rgba(#000, 0.6);
        &:hover {
          transition: background 0.2s;
          box-shadow: 0.1em 0.1em 0.5em rgba(#000, 0.8);
        }
      }
      @include cat-color($secondary0);
      //
      &.philosophy        { @include cat-color(adjust-hue($secondary0, 50deg));  }
      &.technology        { @include cat-color(adjust-hue($secondary0, 100deg)); }
      &.worldbuilding     { @include cat-color(adjust-hue($secondary0, 150deg)); }
      &.writing           { @include cat-color(adjust-hue($secondary0, 200deg)); }
      &.writing-craft     { @include cat-color(adjust-hue($secondary0, 250deg)); }
      &.writing-on-github { @include cat-color(adjust-hue($secondary0, 300deg)); }
      // a { text-decoration: none; color: $primary-10; }
    }
  }
}
