$syntax-hue: 198;
$syntax-saturation: 13%;

// Nordic Woods https://www.designhill.com/design-blog/unique-and-memorable-color-palettes-to-inspire-you/
$nw-blue:   #3A4F68; // Fijord
$nw-brown:  #61412a; // Quincy
$nw-tan:    #b37c56; // Driftwood
$nw-grey:   #9aacb8; // Close to Gull Gray
$nw-ltgrey: #dde2e5; // Geyser

$accent03: darken($nw-blue, 30);
$accent01: darken($nw-blue, 15);
$accent: $nw-blue;
$accent0: lighten($nw-blue,15);
$accent1: lighten($nw-blue,30);
$accent2: lighten($nw-blue,45);
$accent3: lighten($nw-blue,60);

$secondary03:  darken($nw-tan, 48);
$secondary02:  darken($nw-tan, 36);
$secondary01:  darken($nw-tan, 24);
$secondary00:  darken($nw-tan, 12);
$secondary0:   lighten($nw-tan, 0);
$secondary1:   lighten($nw-tan, 13);
$secondary2:   lighten($nw-tan, 26);
$secondary3:   lighten($nw-tan, 40);

$base03:  darken($nw-grey, 60);
$base02:  darken($nw-grey, 45);
$base01:  darken($nw-grey, 30);
$base00:  darken($nw-grey, 15);
$base0:   lighten($nw-grey, 0);
$base1:   lighten($nw-grey, 10);
$base2:   lighten($nw-grey, 20);
$base3:   lighten($nw-grey, 30);

$red:     hsl(  5, 48%, 51%); // <-red 2
$magenta: hsl(355, 65%, 65%); // <-red 1
$orange:  hsl( 30, 54%, 61%); // <-orange 1
$yellow:  hsl( 40, 67%, 69%); // <-orange 2
$green:   hsl( 95, 38%, 62%); // <-green
$cyan:    hsl(190, 47%, 55%); // <-cyan
$blue:    hsl(204, 82%, 66%); // <-blue
$violet:  hsl(285, 60%, 67%); // <-purple

// Dark
$blue-dark:    hsl(204, 100, 70);
$violet-dark:  hsl(310, 100, 80);
