$red:     hsl(  5, 48%, 51%); // <-red 2
$magenta: hsl(355, 65%, 65%); // <-red 1
$orange:  hsl( 30, 54%, 61%); // <-orange 1
$yellow:  hsl( 40, 67%, 69%); // <-orange 2
$green:   hsl( 95, 38%, 62%); // <-green
$cyan:    hsl(190, 47%, 55%); // <-cyan
$blue:    hsl(204, 82%, 66%); // <-blue
$violet:  hsl(285, 60%, 67%); // <-purple

// Dark
$blue-dark:    hsl(204, 100, 70);
$violet-dark:  hsl(310, 100, 80);

@import "palettes/nordic-woods";
// @import "palettes/goruco-2017";
// @import "palettes/morning-mist";
