$syntax-hue: 198;
$syntax-saturation: 13%;

$accent-hue: 22;
$accent-saturation: 88%;
$accent-lightness:  31%;

$accent: hsl($accent-hue, $accent-saturation, $accent-lightness);
$accent2: hsl($accent-hue, $accent-saturation, 60);

$secondary: hsl($accent-hue - 180, $accent-saturation, $accent-lightness);
$secondary2: hsl($accent-hue + 180, $accent-saturation, 60);
$secondary3: hsl($accent-hue + 180, $accent-saturation, 90);
$secondary03: hsl($accent-hue + 180, 35, 40);


$base03:  hsl($syntax-hue, $syntax-saturation, 21);
$base02:  hsl($syntax-hue, $syntax-saturation, 30);
$base01:  hsl($syntax-hue, $syntax-saturation, 40);
$base00:  hsl($syntax-hue, $syntax-saturation, 45);
$base0:   hsl($syntax-hue, $syntax-saturation, 50);
$base1:   hsl($syntax-hue, $syntax-saturation, 60);
$base2:   hsl($syntax-hue, $syntax-saturation, 85);
$base3:   hsl($syntax-hue, $syntax-saturation, 99);

$red:     hsl(  5, 48%, 51%); // <-red 2
$magenta: hsl(355, 65%, 65%); // <-red 1
$orange:  hsl( 30, 54%, 61%); // <-orange 1
$yellow:  hsl( 40, 67%, 69%); // <-orange 2
$green:   hsl( 95, 38%, 62%); // <-green
$cyan:    hsl(190, 47%, 55%); // <-cyan
$blue:    hsl(204, 82%, 66%); // <-blue
$violet:  hsl(285, 60%, 67%); // <-purple

// Dark
$blue-dark:    hsl(204, 100, 70);
$violet-dark:  hsl(310, 100, 80);

// if $solarized is dark
//   $fg:      $base0
//   $bg:      $base03
//   $hl:      $base02
//   $emph:    $base1
//   $comment: $base01
// else
//   $fg:      $base00
//   $bg:      $base3
//   $hl:      $base2
//   $emph:    $base01
//   $comment: $base1
