$cookie-bg: $accent !default;
#cookie-notice {
  @extend .sans-font;
  padding: 7px 15px;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $cookie-bg;
  color: rgba(text-contrast($site-fg, darken($cookie-bg, 20%)),0.8);
  a {
    cursor: pointer;
    margin-left: 10px;
    color: text-contrast($site-fg, darken($cookie-bg, 20%)) !important;
    background: darken($cookie-bg, 20%);
    padding: 0.1em;
    border-radius: 0.2em;
    &:visited {
      color: text-contrast($site-fg, darken($cookie-bg, 20%)) !important;
    }
  }
}
@media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 13px;
    }
    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
}
