#cookie-notice {
  @extend .sans-font;
  padding: 7px 15px;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: rgba(255,255,255,0.8);
  a {
    cursor: pointer;
    margin-left: 10px;
    color: white !important;
    background: #888;
    padding: 0.1em;
    border-radius: 0.2em;
    &:visited {
      color: white !important;
    }
  }
}
@media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 13px;
    }
    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
}
