footer {
  grid-area: foot;
  display: grid;
  padding-top: 1em;
  a {
    text-decoration: none;
    color: rgba(#FFF, 0.8);
    &:hover { color: white; }
  }
  section {
    padding: 10px;
    border: none;
  }
  #footer-links {
    grid-area: links;
    li {
      list-style-type: circle;
    }
  }
  #footer-cta   { grid-area: cta; }
  #footer-brand { grid-area: logo;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  h3 {

  }
  svg {
    height: 1.5em;
  }
  #copyright {
    grid-area: copy;
    background: rgba(0,0,0,0.3);
    padding: 0.5rem 0;
    text-align: center;
    border: none;
    font-size: 0.8rem;
  }
}
