$bg: text-contrast($footer-bg, $site-bg);
$bg: #33281F;
// $fg: lighten($bg, 80%);
$fg: text-contrast(hsla(28,0%,100%,.4), $bg);
footer {
  font-family: var(--font-family-system);
  @extend .no-print;
  background: $bg;
  color: $fg;
  input {
    display: inline-block;
    padding: .4rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $bg;
    width: 60%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .4rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  h5 {
    width: 8em;
    margin: 0 auto;
    // font-size: 2em;
    color: #FFF;
    font-family: var(--font-family-system);
  }
  svg { fill: $fg; }
  nav, h5, form { margin: 0 1em; width: 90%; }
  #footer-brand {
    grid-area: fbrand;
    text-align: center;

    svg {
      height: 3rem !important;
    }
  }
  #footer-cta   { grid-area: fcta; }
  #site-map {
    grid-area: flinks;
    ul { padding: 0;
      list-style-type: none;
      li {
        margin-left: 1em;

          padding: 3px 0;
        a {
          color: $fg;
          text-decoration: none;
          &:hover {
            color: hsla(28,0,100%,1);
          }
        }
      }
    }
  }
  #copyright {
    grid-area: copy;
    color: text-contrast(hsla(28,0%,100%,.4), $bg);
    text-align: center;
    margin-top: 2em;
    padding: 0.5em;
    font-size: 0.8em;
    font-family: var(--font-family-system);
  }
  @include grid {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: space-around;
    @include tablet-up {
      padding-top: 0.25in;
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "fbrand fcta"
        "flinks fcta"
        "copy copy";
    }
    @include laptop-up {
      padding-top: 0.5in;
      grid-template-columns: 1fr 2fr 4fr;
      grid-template-areas:
        "fbrand flinks fcta"
        "copy copy copy";
    }
    @include desktop-up {
      grid-template-columns: 1fr 3fr 4fr 1fr;
      grid-template-areas:
        "... fbrand fcta ..."
        "... flinks fcta ..."
        "copy copy copy copy";
    }
    @include widescreen-up {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "... fbrand fcta ..."
        "... flinks fcta ..."
        "copy copy copy copy";
    }
    @include mobile {
      padding-top: 2em;
      grid-template-columns: 1fr;
      grid-template-areas:
        "fcta"
        "flinks"
        "fbrand"
        "copy";
    }
  }
}
