@media screen {
  .print-logo { display: none; }
  @supports not (display: $grid-debug) {
    svg { height: 2em !important; }
    body { width: 100%; }
    header, main, footer, section { max-width: 50em; margin: 0 auto; }
    img { max-width: 100% !important; }
    main, footer { padding: 1em; }
  }
}
