header {
  grid-area: head;
  display: grid;
  min-height: 0.75in;
  * { padding: 0; margin: 0; }
}
#brand {
  grid-area: brand;
  align-items: center;
  display: inline-flex;
}
nav {
  grid-area: navbar;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  li {
    list-style: none;
    display: inline-flex;
    margin: 0 0.5em;
    a {
      padding: 0.7em;
      color: rgba(#FFFFFF,0.7);
      text-decoration: none;
      &:hover, &:active {
        color: white;
      }
    }
  }
}
