nav#site {
  font-family: var(--font-family-sans-serif);
  svg {
    height: 2rem;
    fill: #FFF;
  }
  @extend .navbar;
  @extend .navbar-dark;
  @extend .bg-dark;
  @extend .fixed-top;
  @extend .d-print-none;
  @extend .navbar-expand-lg;
  background: var(--primary-color) !important;
  #navbarNavDropdown {
    ul {
      @extend .navbar-nav;
      @extend .mx-auto;
      @extend .text-uppercase;
      li {
        @extend .nav-item;
        a {
          @extend .nav-link;
        }
      }
    }
  }
}
nav#pagination {
  ul.pagination {
    @extend .justify-content-center;
  }
}
