ul.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  padding: 2em 0;
  font-family: var(--font-family-system);
  li {
    list-style: none;
    margin: 0 0.2em;
    a {
      color: $site-fg;
      @include dark-mode() {
        color: $site-bg;
      }
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      border-radius: 0.3em;
      text-decoration: none;
      padding: 0 0.3em;
      &:hover {
        background: #e4e4e4;
        @include dark-mode() {
          color: $site-fg;
        }
      }
    }
    &.active {
      a {
        color: text-contrast($site-link-color, #e4e4e4);
        background: #e4e4e4;
      }
    }
  }
}
