//
// Pagination (multiple pages)
// --------------------------------------------------
$border-radius-base: 1em;
$padding-base-vertical: 0.5em;
$padding-base-horizontal: 0.5em;
$line-height-base: 1.5;
$cursor-disabled: pointer;

#pagination, #bottom-pagination {
  display: block;
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 1em 0;

  border-radius: $border-radius-base;

  > li {

    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      border-radius: $border-radius-base;
      position: relative;
      float: left; // Collapse white-space
      padding: $padding-base-vertical $padding-base-horizontal;
      margin-left: -1px;
      line-height: $line-height-base;
      text-decoration: none;
      color: var(--text-color-normal);
      background-color: var(--background);
      border: 1px solid var(--pg-border-color);

      &:hover,
      &:focus {
        z-index: 2;
        color:            var(--pg-color-hover);
        background-color: #EEE;
        @media (prefers-color-scheme: dark) {
          background-color: #333;
          color: white;
        }
        border-color:     var(--pg-border-hover);
      }
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        border-top-left-radius:    $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
      }
    }
    &:last-child {
      > a,
      > span {
        border-top-right-radius:    $border-radius-base;
        border-bottom-right-radius: $border-radius-base;
      }
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      cursor: default;
      color:            white;
      background-color: $primary-color;
      border-color:     darken($primary-color, 10%);
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color:            grayscale($primary-color);
    }
  }
}
