section, nav {
  border: 1px solid red;
}
header {
  background: purple;
  padding: 10px;
  color: white;
}
footer {
  background: blue;
  // padding: 10px;
  color: white;
}
main {
  background: green;
  padding: 10px;
  color: white;
}
