$hue: 220;
$hue: 340;
$accent: 340;
$accent: 220;
$primary-color: hsl($hue, 30%, 40%);
$accent-color: hsl($accent, 30%, 40%);

$violet:            hsl(290, 70%, 50%);
$indigo:            hsl(270, 70%, 60%); // 270
$blue:              hsl(240, 80%, 50%); // 240
$cyan:              hsl(180, 50%, 40%); // 180
$green:             hsl(120, 70%, 30%); //
$yellow:            hsl(60,  70%, 60%);
$orange:            hsl(36,  60%, 50%);
$red:               hsl(5,   60%, 50%);
$facebook:          hsl(221, 60%, 66%); // #3b5998
$twitter:           hsl(207, 80%, 66%); // #71b7f0
$google:            hsl(7, 65%, 66%);   // #d34836
$fg-color:          hsl($hue, 11, 11);
$bg-color:          hsl($hue, 11, 98);

body {
  color:            $fg-color;
  background-color: $bg-color;
  a {
    color: $primary-color;
    color: hsl($accent, 80, 45);
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
    // @include hover-darkness;
  }
  @media (prefers-color-scheme: dark) {
    color:            $bg-color;
    background-color: lighten($fg-color,20%);
    strong { filter: brightness(150%); }
    img    { filter: brightness(80%);}
  }
}
header#site-header,
footer#site-footer {
  color: white;
  background-color: $primary-color;
  @media (prefers-color-scheme: dark) {
    background-color: darken($primary-color, 15%);
  }
}
main {

}
