$color-scheme-debug: dark;
// $color-scheme-debug: debug;
$grid-debug: grid;
// $grid-debug: debug; // grid is for production.

@import "mixins";
@import "normalize";
@import "typography";
@import "color";
@import "light";
@import "dark";
@import "grid";
@import "header";
@import "gridless";

html, body {
  .brand svg {
    height: 2em;
  }
}
