@mixin hover-darkness() {
  &:hover{ filter: brightness(85%); }
}

@import "vars";
@import "reboot"; //  Bootstrap's reboot
@import "theme";
@import "badge";
@import "fonts";
@import "grid";
@import "single";
@import "temp";
@import "header";
@import "pagination";
@import "print";
@import "cards";
@import "footer";
@import "hero";

main {
  grid-area: main;
  
}
.print-logo {
  display: none;
}
