$base-hue: 219;
$primary-color: hsl(219, 30%, 35%);
// 21
:root {
  --primary-color:         hsl(219, 30%, 35%);
  --primary-color-light:   hsl(219, 30%, 45%);
  --primary-color-dark:    hsl(219, 30%, 30%);
  --primary-color-darker:  hsl(219, 25%, 25%);
  --primary-color-darkest: hsl(219, 20%, 20%);
  --violet:                hsl(290, 70%, 50%);
  --indigo:                hsl(270, 70%, 60%); // 270
  --blue:                  hsl(240, 80%, 50%); // 240
  --cyan:                  hsl(180, 50%, 40%); // 180
  --green:                 hsl(120, 70%, 30%); //
  --yellow:                hsl(60,  70%, 60%);
  --orange:                hsl(36,  60%, 50%);
  --red:                   hsl(5,   60%, 50%);
  --facebook:              hsl(221, 60%, 66%); // #3b5998
  --twitter:               hsl(207, 80%, 66%); // #71b7f0
  --google:                hsl(7, 65%, 66%);   // #d34836
  --email:                 hsl(120, 60%, 50%);
  --white:                 hsl(219,13%,98);
  --gray-900:              hsl(219,13%,90);
  --gray-800:              hsl(219,13%,80);
  --gray-700:              hsl(219,13%,70);
  --gray-600:              hsl(219,13%,60);
  --gray-500:              hsl(219,13%,50);
  --gray-400:              hsl(219,13%,40);
  --gray-300:              hsl(219,13%,30);
  --gray-200:              hsl(219,13%,25);
  --gray-100:              hsl(219,13%,20);
  --black:                 hsl(219,13%,10);
}
.bg-white {
  background: var(--white) !important;
}
