// Nordic Woods https://www.designhill.com/design-blog/unique-and-memorable-color-palettes-to-inspire-you/
$nightfall:   #3C455C; // Nightfall
$bark:        #60412B; // Bark
$burntamber:  #B37C57; // Burnt Amber
$lead:        #9AACB8; // Lead
$frost:       #DDE2E3; // Frost (Darkest frost: #191d1e)
$darkest-frost: #191D1D;

$accent03: darken($nightfall, 20);
$accent02: darken($nightfall, 15);
$accent01: darken($nightfall, 10);
$accent00: darken($nightfall, 5);
$accent:  $nightfall;
$accent0: lighten($nightfall,15);
$accent1: lighten($nightfall,30);
$accent2: lighten($nightfall,45);
$accent3: lighten($nightfall,60);

$secondary03:  darken($burntamber, 48);
$secondary02:  darken($burntamber, 36);
$secondary01:  darken($burntamber, 24);
$secondary00:  darken($burntamber, 12);
$secondary0:   lighten($burntamber, 0);
$secondary1:   lighten($burntamber, 13);
$secondary2:   lighten($burntamber, 26);
$secondary3:   lighten($burntamber, 40);


$base-color: #191d1e;
$base03:  $base-color; //#3E3E3B;
$base02:  lighten($base-color, 12);
$base01:  lighten($base-color, 24);
$base00:  lighten($base-color, 36);
$base0:   lighten($base-color, 48);
$base1:   lighten($base-color, 60);
$base2:   lighten($base-color, 72);
$base3:   lighten($base-color, 84);

$site-bg: $base3;
$site-fg: $accent02;
$site-link-color: $blue;
$site-link-visited-color: $violet;
$site-link-hover-color: $red;

$header-bg: $accent01;
$header-fg: $accent3;

$article-h1: $secondary00;
$article-h2: $secondary00;

$footer-bg:      $secondary00;
$footer-dark-bg: $secondary00;
$footer-fg:      $base0;
$footer-link-color: text-contrast($site-link-color, $footer-bg);

$hero-bg: $secondary0;

$card-bg: $base3;
$card-fg: $base02;
