// Nordic Woods https://www.designhill.com/design-blog/unique-and-memorable-color-palettes-to-inspire-you/
$nightfall:   #3C455C; // Nightfall
$bark:        #60412B; // Bark
$burntamber:  #B37C57; // Burnt Amber
$lead:        #9AACB8; // Lead
$frost:       #DDE2E3; // Frost (Darkest frost: #191d1e)
$darkest-frost: #191D1D;

$nightfall:  hsl(223,35,36);
$burntamber: hsl(24,51,70);
$frost:      hsl(190,3,89);

$accent-hue: 223; $accent-sat: 25;
$second-hue: 24; $second-sat: 51;
$base-hue: 24; $base-sat: 3;

$accent03: hsl($accent-hue, $accent-sat, 12);
$accent02: hsl($accent-hue, $accent-sat, 24);
$accent01: hsl($accent-hue, $accent-sat, 36);
$accent00: hsl($accent-hue, $accent-sat, 50);
$accent0:  hsl($accent-hue, $accent-sat, 60);
$accent1:  hsl($accent-hue, $accent-sat, 72);
$accent2:  hsl($accent-hue, $accent-sat, 84);
$accent3:  hsl($accent-hue, $accent-sat, 96);

$secondary03: hsl($second-hue, $second-sat, 12);
$secondary02: hsl($second-hue, $second-sat, 24);
$secondary01: hsl($second-hue, $second-sat, 36);
$secondary00: hsl($second-hue, $second-sat, 50);
$secondary0:  hsl($second-hue, $second-sat, 60);
$secondary1:  hsl($second-hue, $second-sat, 72);
$secondary2:  hsl($second-hue, $second-sat, 84);
$secondary3:  hsl($second-hue, $second-sat, 96);

$base03: hsl($base-hue, $base-sat, 12);
$base02: hsl($base-hue, $base-sat, 24);
$base01: hsl($base-hue, $base-sat, 36);
$base00: hsl($base-hue, $base-sat, 50);
$base0:  hsl($base-hue, $base-sat, 60);
$base1:  hsl($base-hue, $base-sat, 72);
$base2:  hsl($base-hue, $base-sat, 84);
$base3:  hsl($base-hue, $base-sat, 96);

$site-bg: $base3;
$site-fg: $accent02;
$site-link-color: $blue;
$site-link-visited-color: $violet;
$site-link-hover-color: $red;

$header-bg: $accent02;
$header-fg: $accent3;

$article-h1: $secondary00;
$article-h2: $secondary00;

$footer-bg:      $secondary00;
$footer-dark-bg: $secondary00;
$footer-fg:      $base0;
$footer-link-color: text-contrast($site-link-color, $footer-bg);

$hero-bg: $secondary0;

$card-bg: $base3;
$card-fg: $base02;
