$base-hue: 7;
$saturation: 40;
// https://www.designspiration.net/palette/e5e7e4-6e6a8a-040203-c3bda5-984e3b/
// https://www.designspiration.net/palette/30311a-222010-8e4b11-9c967b-5a3a15/ This
// https://www.designspiration.net/palette/322c27-5b432f-f3c36c-995b36-d97834/
$theme-colors: (
  "accent": #5a3a15, //hsl(160,60,40),
  "base":   #8e4b11,
  "white":  #f4f4f4,
  "light":  #e7d7c4,
  "dark":   #20232a,
  "xblack":  #222010,
  "footer": #33281F,
  "black": #20232a,
);
// @debug map-get($theme-colors, "dark");
// https://www.colorhexa.com/b87333
$base-hue: 28;
$accent-hue: 209;
$base:           hsl($base-hue, 56, 41);
$accent:         hsl($accent-hue, 56, 41);
$light:          hsl($base-hue, 11, 88);
$dark:           hsl($base-hue, 11, 22);
$black:          hsl($accent-hue, 11, 14) !default;
$white:          hsl($accent-hue, 11, 98) !default;

$site-bg:        $white;
$site-fg:        $black;
$header-bg:      $base;
$header-fg:      $white;
$jumbotron-bg:   $base;

$badge-bg:       $base;
$badge-fg:       $white;
$cat-color-base: $base;
$card-bg:        $white;
$card-fg:        $black;


$cookie-bg:      $accent;
$cookie-fg:      $white;

$accent-color:   $accent;


$site-link-color: hsl(149,56,41);
$site-link-visited-color: hsl(329,56,41);
$site-link-hover-color: hsl(329,56,41);

$article-h1: $base;
$article-h2: $base;
//
$footer-bg:      $accent;
$footer-dark-bg: $accent;

$hero-bg: $accent;
