
main#lost {
  background: #888 url(/images/hall-1929422_1920.jpg) center center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 1in !important;
  display: flex;
  justify-content: center;
  align-items: center;
  .message {
    text-shadow: rgb(33, 33, 33) 2px 2px 0px;
    @extend .text-center;
    @extend .col-md-6;
    @extend .mx-auto;
    @extend .rounded-lg;
    background: var(--primary-color-darkest);
    color: hsl(219,13%,98%) !important;
    padding: 0.25in 1em 0.75in 1em;
    opacity: 0.85;
    // transform: perspective(1px) translateY(50%);
  }
}
