<footer>
  <section id='footer-brand'>
    <p class="lead">Uplifting, optimistic entertainment.</p>
  </section>
  <section id='useful-links'>
    <h4>Useful Links</h4>
  </section>
  <section id='footer-cta'>
    <h4>Stay Current</h4>
    <p>I'd like to share new book releases and occasional news via my newsletter the "Merovex Dispatch."</p>
  </section>
  <section id="copyright">
    Copyright &copy; 1998&ndash;{{ now.Format "2006"}} &mdash; {{ .Site.Author.name }} &mdash; All Rights Reserved.
  </section>
</footer>
<script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
