{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
{{ $.Scratch.Set "dot_rendered" false }}
<ul class="pagination">
    <!-- Don't show on 1st and 2nd page -->
    {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) }}
    <li><a href="{{ $pag.First.URL }}" rel="first" aria-label="Goto first page">«</a></li>{{ end }}

    {{ if $pag.HasPrev  }}
    <li><a href="{{ $pag.Prev.URL }}" rel="prev" aria-label="Goto previous page">‹</a></li>{{ end }}

    {{ range $pag.Pagers }}
        {{ if eq . $pag }} <!-- Current Page -->
        <li class="active">
          <a href="{{ .URL }}" aria-label="Goto page {{ .PageNumber }}">{{ .PageNumber }}</a>
        </li>
        {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
        {{ $.Scratch.Set "dot_rendered" false }} <!-- Render prev 2 page and next 2 pages -->
        <li><a href="{{ .URL }}" aria-label="Goto page {{ .PageNumber }}">{{ .PageNumber }}</a></li>
        {{ else if eq ($.Scratch.Get "dot_rendered") false }} <!-- render skip pages -->
        {{ $.Scratch.Set "dot_rendered" true }}
        <li class="disabled"><span>&hellip;</span></li>{{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <li><a href="{{ $pag.Next.URL }}" rel="next" aria-label="Goto next page">›</a></li>
    {{ end }}

    <!-- Don't show on last and 2nd last page -->
    {{ if and (ne $pag.PageNumber $pag.TotalPages) ((ne $pag.PageNumber (sub $pag.TotalPages 1))) }}
    <li><a href="{{ $pag.Last.URL }}" rel="last" aria-label="Goto last page">»</a></li>
    {{ end }}
</ul>
{{ end }}
