blockquote {
  &:before {
      content: '\201C';
      position: absolute;
      top: 0.35em;
      left: -0.25em;
      line-height: 0;
      color: $secondary3;
      @include dark-mode {
        color: $secondary00;
      }
      font-size: 16em;
      z-index: -1;
      font-family: var(--font-family-sans-serif);
   }
   position: relative;
  font-style: italic;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  @include dark-mode {
    text-shadow: 1px 1px 1px $base02;
  }
  blockquote {
    &:before { content: ''; }
    border: none;
    padding: 0 0.5em;
  }
}
