figure#article-image {
  $border-radius: 10px;
  margin: 1em auto;
  @extend .no-print;
  position: relative;
  font-family: var(--font-family-sans-serif) !important;
      overflow: hidden;
  img {
    width: 100%;
    border-radius: $border-radius;
  }
  figcaption {
    position: absolute;
    width: calc(100% - 1em);
    bottom: 6px;
    left: 0;
    height: 1.4em;
    padding: 0.3em 0.5em;
    text-shadow: 1px 1px 1px #000;
    font-size: 80%;
    background: rgba($base03, 0.8);
    color: $base3;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    a {
      color: rgba($accent3, 0.7) !important;
    }
  }
}
