@include grid {
  header       { grid-area: title; }
  figure       { grid-area: figure;  }
  section#text { grid-area: text; }
  #metadata    { grid-area: meta; }
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "figure"
    "meta"
    "text";
  @include mobile {
    width: 90%;
  }
  @include tablet-up {
    width: 33em;
    padding-bottom: 0.5in;
  }
  @include laptop-up {
    padding-bottom: 1in;
    width: 1024px;
    grid-template-columns: auto 40em;
    grid-template-areas:
      "figure figure"
      "title  title"
      "meta   text";
      #rtime {
        display: block;
      }
  }
}
